
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  background: #1d1e22;
}

.flex {
  display: flex;

  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.square {
  border: 1px solid #efefef;
  cursor: pointer;
}

.color-square {
   cursor: pointer;
   border: 1px solid #efefef;
   border-radius: 50%;
}
.active {
     box-shadow: 1px 1px 2px gray,  -1px -1px 2px gray;
     border: 1px solid white;
     margin-top: 5px;
}
.color-container {
  background-color: white;
  padding: 5px 0 0 0px;
  border-top: 1px solid black;
}

.rules-container {
  color: white;
}

.title {
  color: white;
  margin: 0 0 20px 0;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
  font-size: 30px;
}